In [1]:
import pandas as pd

In [2]:
opioids = pd.read_csv('arcos-or-statewide-itemized.tsv', sep='\t', header=0)

/Users/ssuo1/OneDrive - Advance Local Media LLC/Code/opioids/ENV/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (3,5,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd.set_option('display.max_columns', 500)

In [4]:
pharmacies = opioids[opioids.BUYER_BUS_ACT.str.contains('PHARMACY')]

In [5]:
per_store = pharmacies.groupby(by=['BUYER_DEA_NO','BUYER_NAME','BUYER_CITY','BUYER_STATE','BUYER_COUNTY']).DOSAGE_UNIT.sum().reset_index()

In [6]:
population = pd.read_csv('nhgis0001_ds191_20125_2012_county.csv',header=0)

In [7]:
population.COUNTY = population.COUNTY.str.replace(r' County','')
population.COUNTY = population.COUNTY.str.upper()

In [8]:
population = population[(population.STATE <> 'Puerto Rico') & (population.STATE <> 'State Name')]

In [9]:
population = population[['STATE','COUNTY','QSPE001']]

In [10]:
states = pd.read_csv('state-abbreviations.csv')

In [11]:
population = pd.merge(population,states,left_on='STATE',right_on='State',how='left')

In [12]:
per_store = pd.merge(per_store,population,left_on = ['BUYER_STATE','BUYER_COUNTY'],right_on = ['Abbreviation','COUNTY'],how='left')

In [13]:
per_store['Rate'] = (per_store.DOSAGE_UNIT.astype(float)/per_store.QSPE001.astype(float))/7

In [16]:
per_store[['BUYER_NAME','Rate','DOSAGE_UNIT']][per_store.Rate > 35]

             BUYER_NAME       Rate  DOSAGE_UNIT
53       HOWARD'S DRUGS  67.139053    3706210.0
304  NELSON'S CITY DRUG  37.035220    1909610.0